ul {
	list-style-type: none;
	margin: 0;
}
#newJob {
	float: right;
	margin-top: -30px; /* yea yea */
}
.jobs {
	margin-top: 30px;
}
.jobs li {
	font-size: 1.3em;
	font-weight: bold;
	cursor: pointer;
	padding: 20px 0;
	border-bottom: 1px solid grey;
}
.jobs li a {
	text-decoration: none;
}
fieldset {
	margin-top: 30px;
}
form textarea, form input {
	width: 60%;
}
textarea {
	height: 220px;
}
#comment_body {
	height: 120px;
}
.job h2 {
	margin-top: 30px;
	margin-bottom: 0;
}
.job h5 {
	margin: 0;
	color: grey;
}