<template name="showProject">
    <div class="project">
        <h2>{{getProject.role}}</h2>
        <h5 class="date">Posted on {{formatDate getProject.postedDate}}</h5>
        <h3>{{getProject.name}}</h3>
        <p>{{#markdown}}{{getProject.description}}{{/markdown}}</p>
        <a href="/"><button class="btn btn-info">Back</button></a>
        <h4>Comments and questions</h4>
        {{#each comments}}
        <div class="comment">
            <div id="comment_{{_id}}">
                <strong>{{user}}</strong> <h5 class="date">{{formatLongDate postedDate}}</h5>{{#markdown}}{{body}}{{/markdown}}
            </div>
            {{#if isOwner}}
            <button class="btn btn-xs white pull-right editComment">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <div class="edit-comment" id="edit_comment_{{_id}}">
                <div class="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="comment_body_{{_id}}">{{body}}</textarea>
                    </div>
                </div>
                <button class="btn btn-sm saveComment">Save</button>
                <button class="btn btn-sm cancelEditComment">Cancel</button>
            </div>
            {{/if}}
        </div>
        {{/each}}
        <form>
            <div class="form">
                <div class="form-group">
                    <span class="help-block">Post your comment. You may use <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> to format it.</span>
                    <textarea id="comment_body" placeholder=""></textarea>
                </div>
                <button class="btn btn-primary" id="addNewComment">Post comment</button>
            </fieldset>
        </form>
    </div>
</template>