<template name="showProject">
    <div class="col-md-8 col-md-offset-2 project">
        {{#with getProject}}
        <h2 id="project_role" contenteditable="{{mayUpdateProject}}">{{role}}</h2>
        <h5 class="date">Posted on {{formatDate postedDate}}</h5>

        <h3 id="project_name" contenteditable="{{mayUpdateProject}}">{{name}}</h3>
        <div id="project_description_p" class="editable_{{mayUpdateProject}}">{{#markdown}}{{description}}{{/markdown}}</div>
        <textarea id="project_description">{{description}}</textarea>

        <h4 class="contact">Contact</h4>
        <p><span id="project_contact_name" contenteditable="{{mayUpdateProject}}">{{contact_name}}</span></p>
        <p><span id="project_contact_email" contenteditable="{{mayUpdateProject}}">{{contact_email}}</span></p>

        <ul class="tags clearfix">
            {{renderTags mayUpdate}}
        </ul>

        <a class="btn-back btn btn-info" href="{{pathFor 'home'}}">Back</a>
        {{/with}}
        <h4>Comments and questions</h4>
        {{#each comments}}
        <div class="comment">
            <div id="comment_{{_id}}">
                <strong><a href="/profile/{{owner}}">{{user}}</a></strong> <h5 class="date">{{formatLongDate postedDate}}</h5>{{#markdown}}{{body}}{{/markdown}}
            </div>
            {{#if mayUpdate}}
            <button class="btn btn-xs white pull-right editComment">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-xs white pull-right deleteComment">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <div class="edit-comment" id="edit_comment_{{_id}}">
                <div class="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="comment_body_{{_id}}">{{body}}</textarea>
                    </div>
                </div>
                <button class="btn btn-sm saveComment">Save</button>
                <button class="btn btn-sm cancelEditComment">Cancel</button>
            </div>
            {{/if}}
        </div>
        {{/each}}
        <form>
            <div class="form">
                <div class="form-group">
                    <span class="help-block">Post your comment. You may use <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> to format it.</span>
                    <textarea id="comment_body" placeholder=""></textarea>
                </div>
                <button class="btn btn-primary" id="addNewComment">Post comment</button>
            </fieldset>
        </form>
    </div>
</template>