<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Job Posted on GamesFreelancers.com</h1>
    <p>A new job was posted: <%= @job.title %></p>

    <p>The job URL is: <%= @url %></p>
  </body>
</html>