<template name="editProject">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="bold-label" for="name">Project name</label>
            <input tabindex="1" type="text" class="form-control" id="name" placeholder="e.g. Help speed up protein folding software to tackle cancer" value="{{name}}">
        </div>
        <div class="form-group">
            <label class="bold-label" for="role">Role</label>
            <input tabindex="2" type="text" class="form-control" id="role" placeholder="e.g. Someone with algorithms expertise" value="{{role}}">
        </div>
        <div class="form-group">
            <label class="bold-label" for="description">Description</label>
            <span class="help-block">Describe the project, including its expected <strong>duration</strong> and <strong>required skillset</strong>. You may use <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> to format your post.</span>
            {{> projectEditor}}
        </div>
        <div class="form-group">
            <label class="bold-label" for="role">Contact</label>
            <span class="help-block">Name</span>
            <input tabindex="4" type="text" class="form-control" id="contact_name" placeholder="Prof. Rodriguez Rodriguez" value="{{contact_name}}">
            <span class="help-block">Email</span>
            <input tabindex="5" type="email" class="form-control" id="contact_email" placeholder="rr@mit.edu" value="{{contact_email}}">
        </div>
        <div class="form-group">
            <label class="bold-label" for="tags">Tags</label>
            <span class="help-block">Add tags as a comma-separated list to categorise your project so people can find projects relevant to their skills and interests. You can use letters, numbers, spaces and hyphens. '<tt>machine-learning</tt>' is allowed but '<tt>machinelearning!</tt>' is not. '<tt>one, two</tt>' adds the tags one and two.
            </span>
            <input tabindex="6" type="text" class="form-control" id="tags" placeholder="biology, proteins, folding, c++" value="{{tags}}">
        </div>
        <div id="project_error" class="alert alert-danger"></div>
        <button class="btn btn-primary pull-left" id="project-save-btn">Save</button>
        <a href="{{pathFor 'home'}}"><button class="btn btn-info pull-right">Cancel</button></a>
        </fieldset>
    </form>
</template>