<template name="progress">
	<div class="progress progress-striped">
		<div class="progress-bar progress-bar-danger solved-bar">
			<span>WAITING FOR SOLVERS...</span>
		</div>
		<div class="progress-bar progress-bar-info solved-bar">
			<span class="sr-only">35% Complete (success)</span>
		</div>
		<div class="progress-bar progress-bar-warning solved-bar">
			<span class="sr-only">20% Complete (warning)</span>
		</div>
		<div class="progress-bar progress-bar-success solved-bar">
			<span class="sr-only">35% Complete (success)</span>
		</div>
	</div>  
</template>
