<template name="progress">
	<div class="row">
		<div class="col-md-6 project-status">
			<div class="progress-title">Project status:
				{{projectStatus}}
			</div>
		</div>
		{{> progress_bar}}
	</div>
</template>
<template name="progress_editable">
	<div class="row">
		<div class="col-md-6 project-status">
			<div class="progress-title">Project status:
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				    {{projectStatus}} <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu project-status" role="menu">
				    <li><a href class="ready">Ready for Solvers</a></li>
				    <li><a href class="tasks">In Progress</a></li>
				    <li><a href class="solved">Project Solved!</a></li>
				  </ul>
				</div>	
			</div>
		</div>
		{{> progress_bar}}
	</div>
</template>
<template name="progress_bar">
	<div class="col-md-6">
		<div class="progress">
			{{#if statusIsReady}}
			<div class="progress-bar solved-bar solved-bar-first">
			</div>
			{{/if}}
			{{#if statusIsTasks}}
			<div class="progress-bar solved-bar solved-bar-first">
			</div>
			<div class="progress-bar solved-bar">
			</div>
			{{/if}}
			{{#if statusIsSolved}}
			<div class="progress-bar solved-bar solved-bar-first">
			</div>
			<div class="progress-bar solved-bar">
			</div>
			<div class="progress-bar solved-bar solved-bar-last">
			</div>
			{{/if}}
		</div>
	</div>
</template>
