<template name="showProject">
    <div class="col-md-8 col-md-offset-2 project">
    {{#if editing}}
        {{> editProject}}
    {{else}}
        {{#if mayUpdateProject}}
            <button class="project-edit-btn btn btn-xs pull-right" class="btn btn-default btn-xs">edit project</button>
        {{/if}}
        <div class="alert alert-info">
            <h2 id="project_name">{{name}}</h2>
            <p>is looking for...</p>
            <h3 id="project_role">{{role}}</h3>
        </div>
        <div class="metrics-strip">
            <p class="viewcount">
                <small>Viewed {{views}} times</small>
            </p>
            <p class="posteddate">
                <small>Posted on {{formatDate postedDate}}</small>
            </p>
        </div>
        {{#if solved}}
            <div class="alert alert-success">
                <strong>Success!</strong> This project was solved on {{solveddate}}.
            </div>
        {{else}}
            {{> progress}}
            {{> tasks}}
            {{#if mayUpdateProject}}
                {{> task_controls}}
            {{/if}}
        {{/if}}
        <div id="project_description_p">{{#pagedown}}{{description}}{{/pagedown}}</div>
        <h4 class="contact">Contact</h4>
        <p><span id="project_contact_name">{{contact_name}}</span> (<span id="project_contact_email">{{contact_email}}</span>)</p>

        <h4 class="tags">Tags</h4>
        <ul class="tags clearfix">
            {{renderTags mayUpdate}}
        </ul>


        <a class="btn-back btn btn-info" href="{{pathFor 'home'}}">Back</a>
        <h4>Comments and questions</h4>
        {{#each comments}}
            <div class="comment">
                <div id="comment_{{_id}}">
                    <strong><a href="/profile/{{owner}}">{{user}}</a></strong> <h5 class="date">{{formatLongDate postedDate}}</h5>{{#markdown}}{{body}}{{/markdown}}
                </div>
                {{#if mayUpdate}}
                    <button class="btn btn-xs white pull-right editComment">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button class="btn btn-xs white pull-right deleteComment">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <div class="edit-comment" id="edit_comment_{{_id}}">
                        <div class="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" id="comment_body_{{_id}}">{{body}}</textarea>
                            </div>
                        </div>
                        <button class="btn btn-sm saveComment">Save</button>
                        <button class="btn btn-sm cancelEditComment">Cancel</button>
                    </div>
                {{/if}}
            </div>
        {{/each}}
        <form>
            <div class="form">
                <div id="comment_error" class="alert alert-danger"></div>
                <div class="form-group">
                    <span class="help-block">Post your comment. You may use <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> to format it.</span>
                    <textarea id="comment_body" placeholder=""></textarea>
                </div>
                <button class="btn btn-primary" id="addNewComment">Post comment</button>
            </fieldset>
        </form>
    {{/if}}
    </div>
</template>