<template name="showProject">
    <div class="col-md-8 col-md-offset-2 project">
    {{#if editing}}
        {{> editProject}}
    {{else}}
        {{#if mayUpdateProject}}
            <button class="project-edit-btn btn btn-xs pull-right" class="btn btn-default btn-xs">edit project</button>
        {{/if}}
        <div class="alert alert-info">
            <h2 id="project_name">{{name}}</h2>
            <p>is looking for...</p>
            <h3 id="project_role">{{role}}</h3>
        </div>
        <div class="metrics-strip">
            <p class="viewcount">
                <small>Viewed {{views}} times</small>
            </p>
            <p class="posteddate">
                <small>Posted on {{formatDate postedDate}}</small>
            </p>
        </div>
        {{#if solved}}
            <div class="alert alert-success">
                <strong>Success!</strong> This project was solved on {{solveddate}}.
            </div>
        {{/if}}
        <div id="project_description_p">{{#pagedown}}{{description}}{{/pagedown}}</div>
        <div class="row offer-skills-row">
            <div class="well well-lg offer-skills">
                <h2>Want to help?</h3>
                {{#if currentUser}}
                <button class="btn btn-success btn-lg offer-help-btn">Offer your skills</button>
                {{else}}
                <button class="btn btn-success btn-lg open-signup">Sign in/up to offer your skills</button>
                {{/if}}
            </div>
        </div>
        <div><h4 class="tags">Tags</h4></div>
        <ul class="tags clearfix">
            {{renderTags mayUpdate}}
        </ul>
        {{>comments}}
    {{/if}}
    </div>
    {{>offer-help-modal}}
</template>