<template name="tasks">
	<div class="row">
		<div class="col-md-12 tasks-status">
			{{closedTasks}}/{{totalTasks}} tasks completed
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group tasks-list" id="tasks_list">
			{{#each tasks}}
			  <li class="list-group-item clearfix" data-container="body" data-toggle="popover" data-placement="top" data-content="{{description}}">{{name}}
				{{#if mayUpdateTask}}
					<button class="pull-right btn btn-primary btn-xs close_task">Close task</button>
					<button class="pull-right btn btn-primary btn-xs edit_task">Edit task</button>
				{{/if}}
			  	<span class="badge">{{assigned_username}}</span>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="task_controls">
	<div id="add_task_modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add task</h4>
				</div>
				<div class="modal-body">
	        <form class="form-horizontal" role="form">
	        	<input type="hidden" id="task_id">
            <div class="form-group">
              <label class="bold-label" for="task_name">Task name</label>
              <input tabindex="1" type="text" class="form-control" id="task_name" placeholder="e.g. Build website contact form">
            </div>
            <div class="form-group">
              <label class="bold-label" for="task_description">Task description</label>
              <span class="help-block">You may use <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>.</span>
              <textarea tabindex="2" class="form-control" id="task_description"></textarea>
            </div>
            <div class="form-group">
              <label class="bold-label" for="task_assigned">Assigned to</label>
              <input tabindex="3" type="text" class="form-control" id="task_assigned" placeholder="e.g. John Sturgeon">
            </div>
            <div id="task_error" class="alert alert-danger"></div>
          </form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="save_task">Save</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary btn-sm" id="add_task">Add task</button>
		</div>
	</div>
</template>