<template name="header">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<a class="brand back" href="{{pathFor 'home'}}">
			<span class='logo'>&lt;<span id='main'>Solvers</span><span id='tld'>.io</span>&gt;</span>
		</a>
    <form class="navbar-form navbar-left" role="search">
			<div class="form-group">
	      <input type="text" class="search-input form-control" data-provide="typeahead" placeholder="Search">
	    </div>
	  </form>
		<ul class="nav navbar-nav navbar-right">
			{{loginButtons}}
			{{#if currentUser}}
			<li>
				<a href="{{pathFor 'profile'}}" rel="tooltip" data-placement="bottom" title="edit profile">
					<span class="icon-bar glyphicon white glyphicon-user"></span>
				</a>
			</li>
			<li>
				<a href="#" id="logout" rel="tooltip" data-placement="bottom" title="sign out">
					<span class="icon-bar glyphicon white glyphicon-log-out"></span>
				</a>
			{{/if}}
		</ul>
	</div>
</template>
