// Colour scheme
@grey: #556270;
@blue: #4ECDC4;
@green: #C7F464;
@salmon: #FF6B6B;
@rose: #C44D58;

// Logo
.logo {
  padding-left: 12px;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 450;
  font-size: 18pt;
  color: white;
  text-shadow: none; /* override bootstrap brand shadow */  

  #main {
    font-weight: 500;
    color: @blue;
  }
  
  #tld {
    font-weight: 400;
    color: @green;
  }
}

.brand {
  float: left;
  padding: 10px 15px;
}

.btn {
  outline: none;
}

// Navbar
.navbar {
  .tooltip.bottom {
    padding: 5px 0;
    margin-top: 5px;
  }
}

// Header
body { padding-top: 70px; }

// Login
.navbar-right {
  padding: 5px 20px;
}

// Forms
.bold-label {
  font-weight: bold;
  font-size: 17px;
}

.mailing-signup {
  margin-top: 50px;
  input {
    font-size: 1.4em;
  }
  .btn {
    margin-top: -8px;
  }
}

// Projects
#newProject {
  float: right;
}

.projects {
  margin-top: 30px;
  li {
    cursor: pointer;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    a {
      font-size: 1.3em;
      font-weight: bold;
      text-decoration: none;
    }
    .date {
      margin-top: 10px;
    }
    .deleteProject {
      margin-left: 10px;
    }
  }
}

.date {
  margin: 0;
  color: grey;
}

// Comments
.comment {
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
  .edit-comment {
    display: none;
    textarea {
      width: 90%;
      height: 60px;
    }
  }
  .date {
    font-size: 0.9em;
  }
}

.editComment, .deleteComment {
  margin-top: -25px;
  margin-left: 10px;
}

.white, .white a {
  color: #fff;
}

.outer-landing {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('/lab.jpg');
  background-size: cover;
}
.landing-container {
  position: absolute;
  border-radius: 3px;
  left: 9%;
  width: 82%;
  margin: 0 auto;
  padding: 40px 0 80px 0;
  background: white;
}
