<template name="about">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>About Solvers</h2>

            <p>If you've ever learned of a problem in the world and wondered "what can I do to help?", Solvers.io is the place for you.</p> 

            <p>At Solvers we bring together the immense technical
            skills and social conscience in the software development
            community with the problem identification and deep
            domain-specific knowledge in the scientific
            community. People who need help with their projects can
            post them, while solvers can consult or volunteer on the projects.<p>

            <p>We want to enable skilled people to easily find ways to use their skills for good, so that together we can improve our world.</p>

            <p>Solvers was conceived by Richard in 2013 after significant interest in working on science projects from developers on <a href="http://news.ycombinator.com">Hacker News</a>.</p>
        </div>
    </div>
    <div class="row about-row">
        <div class="col-md-10 col-md-offset-1">
            <h2>The Team</h2>
            <p>Don't mind who you speak to? You can reach us both: <strong>team@solvers.io</strong>.</p>
        </div>
    </div>
    <div class="row about-row">
        <div class="col-md-5 col-md-offset-1">
            <img class="img-circle pull-left" src="richard.jpg">
            <p>Richard is a PhD student in computational plant biology at the University of Cambridge and a freelance developer.</p>
            <p>As a scientist, he has seen first hand how science could be improved with the involvement of a programmer. As a programmer, he has been awed by how generous software developers in the open source community are with their skills. Richard hopes Solvers can bridge the two communities to bring about positive change.</p>
            <p><strong>Email: richard@solvers.io</strong></a>
        </div>
        <div class="col-md-5">
            <img class="img-circle pull-left" src="dave.jpg">
            <p>Dave is a freelance developer living in the Netherlands. After years of building software for businesses, Dave never forgot the sense of wonder he felt when studying physics and psychology, and hopes to see the scientific community empowered by experienced developers who can help with academic projects.</p>
            <p><strong>Email: dave@solvers.io</strong></p>
        </div>
    </div>
</template>
