<template name="callToAction">
	<div class="row">
		<center><h2>Want to use your skills to make a difference? You're in the right place.</h2></center>
	</div>
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<p><center><h4><strong>Solvers.io</strong> is a community of people who want to <a href="http://www.wired.com/business/2013/11/bill-gates-wired-essay/">improve our world</a>. We connect projects that tackle important problems with the people who volunteer their skills to help.</h4></center></p></br>
		</div>
	</div>
	<div class="row callToAction">
		<div class="col-md-offset-3 col-md-3">
			<button class="btn btn-warning" id="gotoProjects">
			<center><h3>Got skills?</h3></center>
			<p>Get involved in a project below.</p>
			</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-warning" id="postProject">
				<center><h3>Got an idea?</h3></center>
				<p>Post it and recruit solvers.</p>
			</button>
		</div>
	</div>
</template>
