<template name="about">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>About Solvers</h2>

            <p>Solvers was conceived by Richard in 2013 after significant interest in working on science projects from developers on <a href="http://news.ycombinator.com">Hacker News</a>.</p>
        </div>
    </div>
    <div class="row about-row">
        <div class="col-md-5 col-md-offset-1">
            <img class="img-circle pull-left" src="richard.jpg">
            <p>Richard is...</p>
        </div>
        <div class="col-md-5">
            <img class="img-circle pull-left" src="dave.jpg">
            <p>Dave is a freelance developer living in the Netherlands. After years of building software for businesses, Dave never forgot the sense of wonder he felt when studying physics and psychology, and hopes to see the scientific community empowered by experienced developers who can help with academic projects.</p>
        </div>
    </div>
</template>