<template name="callToAction">
	<div class="row">
        <center><h2>Want to use your skills to make a difference? You're in the right place.</h2></center>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p><center><h4><strong>Solvers.io</strong> is a community of people who want to <a href="http://www.wired.com/business/2013/11/bill-gates-wired-essay/">improve our world</a>. We connect projects that tackle important problems with the people that have the skills to help.</h4></center></p></br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="pull-left">
                <a href="#projectList">
                    <button class="btn btn-warning">
                    <center><h3>Got skills?</h3></center>
                    <p>Get involved in a project below.</p>
                </button>
            </a>
            </div>
            <div class="pull-right">
                <a href="/projects/new">
                    <button class="btn btn-warning">
                        <center><h3>Got an idea?</h3></center>
                        <p>Post it and recruit solvers.</p>
                    </button>
                </a>
            </div>
        </div>
    </div>
</template>