<template name="footer">
  <div class="footer row">
    <div class="col-md-offset-3 col-md-6">
      <p><center><h4>&quot;The horizon leans forward, offering you space to place new steps of change.&quot; - <a href="http://poetry.eserver.org/angelou.html">Maya Angelou</a></h4></center></p>
      <center>
      	<ul class="list-inline">
      		<li><a href="{{pathFor 'about'}}">About</a></li>
      		<li><a href="https://github.com/solvers/solvers/issues">Report a bug</a></li>
      	</ul></center>
    </div>
  </div>
</template>
