<template name="tagged">
    {{>home}}
</template>
<template name="loadingTemplate">
    {{>spinner}}
</template>    
<template name="home">
    {{#unless message}}
    {{> callToAction}}
    {{/unless}}
    <div class="row" id="projectList">
        {{#if message}}
        <div class="alert alert-info filter-message">{{message}}</div>
        {{/if}}
        <ul class="projects">
        {{#each projects}}
            <li class="clearfix"><a class="showProject" data-id="{{_id}}" href="{{pathFor 'showProject'}}">{{name}} - {{role}}</a>
                {{#if mayUpdate}}
                <button class="btn btn-xs white pull-right deleteProject">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                {{/if}}
                <h5 class="date pull-right">{{formatDate postedDate}}
                by <a href="/profile/{{owner}}">{{username owner}}</h5>
            </li>
        {{/each}}
        </ul>
    </div>
</template>
