<template name="home">
    {{#if noUser}}
        {{> callToAction}}
    {{/if}}
    {{#if loading}}
        {{>spinner}}
    {{else}}
    <div class="row">
        <ul class="projects">
        {{#each projects}}
            <li><a class="showProject" data-id="{{_id}}">{{name}} - {{role}}</a>
                {{#if mayRemove}}
                <button class="btn btn-xs white pull-right deleteProject">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                {{/if}}
            </li>
        {{/each}}
        </ul>
    </div>
    {{/if}}
</template>