<template name="landing">
    <div class="row">
        <center><h2>Want to use your skills to make a difference?</h2></center>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p><center><h4><strong>Solvers.io</strong> is building a community of people who want to <a href="http://www.wired.com/business/2013/11/bill-gates-wired-essay/">improve our world</a>. We will connect projects that tackle important problems with the people who have the skills to help.</h4></center></p></br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <center><p class="lead">Interested? Sign up to our launch mailing list</p></center>
            <form class="form-inline mailing-signup">
                <input type="text" id="mailing_email" placeholder="name@example.com">
                <button id="mailing_btn" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
</template>