/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html
{
	background: #eee;
}

body
{
	border-radius: 5px;
	margin: 10px !important;
}

footer div a:visited, footer div a:hover
{
	background: transparent !important;
	color: #005588 !important;
}

header
{
	padding: 15px;
}

header h1, header h4
{
	width: 500px;
	text-align: center;
	margin: 0 auto;
	display: block;
}

header h1 {
	letter-spacing: 1px;
}

a.head { color: black !important; background: transparent !important }

header h4
{
	padding: 5px 0;
	color: #222;
}

footer
{
	margin: 15px 30px 60px 30px;
	overflow: auto;
}

footer div
{
	margin: 35px 0px;
}

.info
{
	float: left;
}

.auth
{
	float: right;
}

.main
{
	clear: both;
}

.btn-primary:visited
{
	color: white;
}

